*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
}
.hero-section{
  background-color: #862799;
  color: white;
  padding: 50px 20px;
  text-align: center;  

}

.hero-content h1{
  font-size: 3rem;
  margin-bottom: 30px;
}

.cta-button {
  background-color:aqua
  color: aqua;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  
}